
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Альфа Car</h2>
            @*<h3 class="section-subheading text-muted">-</h3>*@
        </div>
    </div>
    <div class="row text-md-center">
        <div class="col-md-12" align="center">
            <h3 class="section-subheading text-muted">ЭТО ПРОФЕССИОНАЛЬНАЯ КОМАНДА МАСТЕРОВ, КОТОРАЯ ВЫПОЛНЯЕТ СЛЕДУЮЩИЕ ВИДЫ РАБОТ:</h3>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <img class="img-fluid d-block my-xl-auto" src="~/Content/Images/clients/1.jpg" alt="">
                <p class="text-muted">Кузовной ремонт</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/3.jpg" alt="">
                <p class="text-muted">Подготовка и покраска</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/2.jpg" alt="">
                <p class="text-muted">Ремонт бамперов и другой пластмассы</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/4.jpg" alt="">
                <p class="text-muted">Полировка кузова и фар</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/5.jpg" alt="">
                <p class="text-muted">Ремонт салонов, сидений</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/6.jpg" alt="">
                <p class="text-muted">Помощь в подборке новых и б/у запчастей</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/7.jpg" alt="">
                <p class="text-muted">Жестяночные работы</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-fluid d-block mx-auto" src="~/Content/Images/clients/8.jpg" alt="">
                <p class="text-muted">Перетяжка рулей, торпед и подушек безопасности, а также их замена</p>
            </div>

        </div>
    </div>
</div>
