 <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">
                    Наши преимущества:
                </h2>
            </div>
        </div>
        <div class="row text-md-center">
            <div class="col-md-12" align="center">
                <hr />
                <table>
                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Знания и опыт работы более 8 лет
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Индивидуальный подход к каждому клиенту
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Высокое качество работ
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Покраска в камере
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Честные цены
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Гарантия на выполненные работы
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Скидки и бонусы каждому клиенту
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Только качественные материалы
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Выполнение работ в короткие сроки
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Подбор запчестей новых и б/у без вашего участия - Бесплатно
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <img src="~/Content/Images/icons/YellowStart.png" />
                                Бесплатные консультации и осмотр авто
                            </p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>