 <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center col-md-12 col-sm-12">
                <h2 class="section-heading text-uppercase">
                    Наши преимущества:
                </h2>
            </div>
        </div>
        <div class="row text-md-center">
            <div class="col-md-12" align="center">
                <hr />
                <table>
                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Знания и опыт работы более 8 лет
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Индивидуальный подход к каждому клиенту
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Высокое качество работ
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Покраска в камере
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Честные цены
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Гарантия на выполненные работы
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Скидки и бонусы каждому клиенту
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Только качественные материалы
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Выполнение работ в короткие сроки
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Подбор запчестей новых и б/у без вашего участия - Бесплатно
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class=" text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                                </span>
                                Бесплатные консультации и осмотр авто
                            </p>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>