 <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Почему выбирают нас?</h2>
            </div>
        </div>
     <hr />
        <div class="row text-md-center">
            <div class="col-md-4">
            </div>
            <div class="col-md-5 text-left font-weight-bold">
                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Знания и опыт работы более 8 лет
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Индивидуальный подход к каждому клиенту
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Высокое качество работ
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Покраска в камере
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Честные цены
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Гарантия на выполненные работы
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Скидки и бонусы каждому клиенту
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Только качественные материалы
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Выполнение работ в короткие сроки
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Подбор запчестей новых и б/у без вашего участия - Бесплатно
                </p>

                <p class=" text-muted">
                    <span class="fa-stack fa-1x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    Бесплатные консультации и осмотр авто
                </p>

        </div>
    </div>
</div>