
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Наши услуги и цены:</h2>
                @*<h3 class="section-subheading text-muted">-</h3>*@
            </div>
        </div>
        <div class="row text-md-center">
            <div class="col-md-12" align ="center">
                <hr />
                <table>
                    <tr>
                        <th>
                            <p class="text-muted">
                            <span class="fa-stack fa-1x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                            </span>
                            Покраска в камере - от 4 000 рублей/элемент
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Локальная покраска - от 2 500 рублей/элемент
                                </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Покраска авто полностью - от 50 000 рублей
                                </p>
</th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Жестяночные работы - от 500 рублей
                                </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Ремонт пластмассы, пайка - от 100 рублей
                                </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Полировка - от 400 рублей (за 1 элемент)
                                </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Полировка авто целиком - от 3 000 рублей
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <th>
                            <p class="text-muted">
                                <span class="fa-stack fa-1x">
                                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                                </span>
                                Проверка ЛКП Авто толщиномером - от 500 рублей
                                </p>
                        </th>
                    </tr>
                </table>
                <h3 class="section-subheading text-muted">*Окончательная стоимость работ определяется по факту личного осмотра мастером</h3>
</div>
        </div>
    </div>
